body{
  background-color:rgb(240,240,240);
}
.title{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight:bold;
}
.todo-input{
  font-family:Arial;
  font-size: 15px;
  padding: 10px 2px;
}
.date-input{

  font-family:Arial, Helvetica, sans-serif;
  padding-inline: 1px;
  font-size: 15px;
  padding: 8px;
  font-style:italic;
}
.add-button,.DeleteButton{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 11px 3px;
  background-color: green;
  color: white;
  border:none;
  width: 100px;
  cursor:pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}
.todos{
  font-family: Arial, Helvetica, sans-serif;                                  
  font-size:18px;
}                     
.todo-row,.input-divs{
  display: grid;
  grid-template-columns: 200px 150px 100px ;
  gap:10px;
  align-items: center;
}
.DeleteButton{
  background-color: rgb(148, 36, 36);
  border:none;
}